<!DOCTYPE html>
<html lang="en">
<body>
			<div class="w-75 m-auto">
				<div class="row">
					<div class="col-md-12">
						<div class="row box-content text-left">
							<div class="col-lg-6">
								<img src="images/event/sunset-1.jpg" alt="Event 1" class="w-100">
							</div>
							<div class="col-lg-6">
								<div class="row">
									<div class="col-md-12">
										<h2 class="font-weight-bold"><a href="#Event1" class="event1">Adult Admission
												Ticket</a></h2>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="gray-line"></div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 pt-3">
										<h4>Good for one adult admission aged 19-61 (valid 365 days from the purchase
											date)
										</h4>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 pt-3">
										<h4>Admission tickets are not valid for special events, Member Exclusive
											Mornings
											(July 4 - 17), or Wild Zoo Halloween.</h4>
									</div>
								</div>
								<div class="row w-100 pt-3">
									<div class="col-md-6">
										<h4>Price: <span class="text-primary">$15.00</span></h4>
									</div>
									<div class="col-md-6">
										<a href="#Event1" style="border-radius: 0; width: 70%;"
											class="btn btn-warning btn-buy" data-cart="" ng-click="addToCart(1);">Buy
											Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row box-content text-left position-relative">
							<div class="col-lg-6">
								<img src="images/event/sunset-1.jpg" alt="Event 1" class="w-100">
							</div>
							<div class="col-lg-6">
								<div class="row">
									<div class="col-md-12">
										<h2 class="font-weight-bold"><a href="#Event1" class="event1">Child Admission
												Ticket</a></h2>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="gray-line"></div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 pt-3">
										<h4>Good for one child admission ages 2-18 (valid 365 days from purchase date)
										</h4>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 pt-3">
										<h4>Admission tickets are not valid for special events, Member Exclusive
											Mornings
											(July 4 - 17), or Wild Zoo Halloween.</h4>
									</div>
								</div>
								<div class="row w-100 pt-3">
									<div class="col-md-6">
										<h4>Price: <span class="text-primary">$10.00</span></h4>
									</div>
									<div class="col-md-6">
										<a href="#Event1" style="border-radius: 0; width: 70%;"
											class="btn btn-warning btn-buy" data-cart="" ng-click="addToCart(2);">Buy
											Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row box-content text-left">
							<div class="col-lg-6">
								<img src="images/event/sunset-1.jpg" alt="Event 1" class="w-100">
							</div>
							<div class="col-lg-6">
								<div class="row">
									<div class="col-md-12">
										<h2 class="font-weight-bold"><a href="#Event1" class="event1">Senior Admission
												Ticket</a></h2>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="gray-line"></div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 pt-3">
										<h4>Good for one senior admission ages 62 & over (valid 365 days from purchase
											date)
										</h4>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 pt-3 pb-3">
										<h4>Admission tickets are not valid for special events, Member Exclusive
											Mornings
											(July 4 - 17), or Wild Zoo Halloween.</h4>
									</div>
								</div>
								<div class="row w-100">
									<div class="col-md-6">
										<h4>Price: <span class="text-primary">$12.00</span></h4>
									</div>
									<div class="col-md-6">
										<a href="#Event1" style="border-radius: 0; width: 70%;"
											class="btn btn-warning btn-buy" data-cart="" ng-click="addToCart(3);">Buy
											Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	<!-- Footer -->
	
</body>

</html>