<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
	<title>Central Zoo</title>
</head>

<body>
	
		<main ng-app="myApp" ng-controller="myCtrl">
			<div class="w-75 m-auto">
				<div class="row">
					<div class="col-md-12">
						<div class="row box-content text-left">
							<div class="col-lg-6">
								<img src="images/event/sunset-1.jpg" alt="Event 1" class="w-100">
							</div>
							<div class="col-lg-6">
								<div class="row">
									<div class="col-md-12">
										<h2 class="font-weight-bold"><a href="#Event1" class="event1">Adult Admission
												Ticket</a></h2>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="gray-line"></div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 pt-3">
										<h4>Good for one adult admission aged 19-61 (valid 365 days from the purchase
											date)
										</h4>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 pt-3">
										<h4>Admission tickets are not valid for special events, Member Exclusive
											Mornings
											(July 4 - 17), or Wild Zoo Halloween.</h4>
									</div>
								</div>
								<div class="row w-100 pt-3">
									<div class="col-md-6">
										<h4>Price: <span class="text-primary">$15.00</span></h4>
									</div>
									<div class="col-md-6">
										<a href="#Event1" style="border-radius: 0; width: 70%;"
											class="btn btn-warning btn-buy" data-cart="" ng-click="addToCart(1);">Buy
											Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row box-content text-left position-relative">
							<div class="col-lg-6">
								<img src="images/event/sunset-1.jpg" alt="Event 1" class="w-100">
							</div>
							<div class="col-lg-6">
								<div class="row">
									<div class="col-md-12">
										<h2 class="font-weight-bold"><a href="#Event1" class="event1">Child Admission
												Ticket</a></h2>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="gray-line"></div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 pt-3">
										<h4>Good for one child admission ages 2-18 (valid 365 days from purchase date)
										</h4>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 pt-3">
										<h4>Admission tickets are not valid for special events, Member Exclusive
											Mornings
											(July 4 - 17), or Wild Zoo Halloween.</h4>
									</div>
								</div>
								<div class="row w-100 pt-3">
									<div class="col-md-6">
										<h4>Price: <span class="text-primary">$10.00</span></h4>
									</div>
									<div class="col-md-6">
										<a href="#Event1" style="border-radius: 0; width: 70%;"
											class="btn btn-warning btn-buy" data-cart="" ng-click="addToCart(2);">Buy
											Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row box-content text-left">
							<div class="col-lg-6">
								<img src="images/event/sunset-1.jpg" alt="Event 1" class="w-100">
							</div>
							<div class="col-lg-6">
								<div class="row">
									<div class="col-md-12">
										<h2 class="font-weight-bold"><a href="#Event1" class="event1">Senior Admission
												Ticket</a></h2>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="gray-line"></div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 pt-3">
										<h4>Good for one senior admission ages 62 & over (valid 365 days from purchase
											date)
										</h4>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 pt-3 pb-3">
										<h4>Admission tickets are not valid for special events, Member Exclusive
											Mornings
											(July 4 - 17), or Wild Zoo Halloween.</h4>
									</div>
								</div>
								<div class="row w-100">
									<div class="col-md-6">
										<h4>Price: <span class="text-primary">$12.00</span></h4>
									</div>
									<div class="col-md-6">
										<a href="#Event1" style="border-radius: 0; width: 70%;"
											class="btn btn-warning btn-buy" data-cart="" ng-click="addToCart(3);">Buy
											Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cart-container">
				<div class="cart-group">
					<img class="cart" src="images/cart.png" alt="Cart">
					<span class="badge">{{ arrTickets.length }}</span>
				</div>
				<div id="shopping-cart">
					<table class="table table-hover">
						<thead class="text-center">
							<tr>
								<th>Tickets</th>
								<th>Quantity</th>
								<th>Price</th>
								<th>Amount</th>
								<th></th>
							</tr>
						</thead>
						<tbody class="text-center">
							<tr ng-repeat="ticket in arrTickets">
								<td style="vertical-align: middle">{{ ticket.tickets }}</td>
								<td style="vertical-align: middle"><input type="number" min="0" class="form-control"
										value="{{ ticket.quantity }}" style="width: 60px;"
										ng-keyup="changeQuantity(ticket.id, $event)"
										ng-click="changeQuantity(ticket.id, $event)"></td>
								<td style="vertical-align: middle">{{ ticket.price }}$</td>
								<td style="vertical-align: middle">{{ ticket.amount }}$</td>
								<td style="vertical-align: middle"><button class="btn btn-danger"
										ng-click="cancelTicket(ticket.id);">Delete</button></td>
							</tr>
							<tr class="text-center">
								<td colspan="5">
									<h3>Total: {{ total }}$</h3>
								</td>
							</tr>

						</tbody>
						<tfoot class="text-center">
							<tr>
								<td colspan="3"><button class="btn btn-danger"
										ng-click="delAllTicket(ticket.id);">Delete All</button>
								</td>
								<td colspan="2"><button class="btn btn-primary"
										ng-click="payAlert(total);">Payment</button>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</main>

	<!-- Footer -->
	<script>
		// Define the `phonecatApp` module
		var myApp = angular.module('myApp', []);

		// Define the `PhoneListController` controller on the `phonecatApp` module
		myApp.controller('myCtrl', function ($scope) {
			$scope.arrTickets = [];
			$scope.allTickets = [{
				id: 1,
				tickets: 'Adults',
				quantity: 1,
				price: 54,
				amount: 54
			}, {
				id: 2,
				tickets: 'Child',
				quantity: 1,
				price: 44,
				amount: 44
			}, {
				id: 3,
				tickets: 'Small Families',
				quantity: 1,
				price: 84,
				amount: 84
			}, {
				id: 4,
				tickets: 'Large Families',
				quantity: 1,
				price: 124,
				amount: 124
			}];
			$scope.addToCart = function (id) {
				var index = this.arrTickets.findIndex(e => e.id === id)
				if (index === -1) {
					this.arrTickets.push(this.allTickets[id - 1]);
				} else {
					this.arrTickets[index].quantity++;
					this.arrTickets[index].amount = this.arrTickets[index].price * this.arrTickets[index]
						.quantity;

				}
				this.total = 0;
				for (var i = 0; i < this.arrTickets.length; i++) {
					$scope.total = this.total + this.arrTickets[i].amount;
				}
			}

			$scope.cancelTicket = function (id) {
				var index = this.arrTickets.findIndex(e => e.id === id);
				this.arrTickets.splice(index, 1);
				if (this.arrTickets.length == 0) {
					$scope.total = 0;
				} else {
					$scope.total = 0;
					for (var i = 0; i < this.arrTickets.length; i++) {
						$scope.total = this.total + this.arrTickets[i].amount;
					}
				}
			}

			$scope.delAllTicket = function (id) {
				var index = this.arrTickets.findIndex(e => e.id === id);
				this.arrTickets = [];
				$scope.total = 0;
			}

			$scope.changeQuantity = function (id, event) {
				var index = this.arrTickets.findIndex(e => e.id === id);
				this.arrTickets[index].quantity = event.currentTarget.value;
				this.arrTickets[index].amount = this.arrTickets[index].quantity * this.arrTickets[index].price;
				$scope.total = 0;
				for (var i = 0; i < this.arrTickets.length; i++) {
					$scope.total = $scope.total + this.arrTickets[i].amount;
				}
			}

			$scope.payAlert = function (num) {
				if (num > 0) {
					swal({
						input: 'Multiple input',
						html: '<input id="swal-input1" class="swal2-input" placeholder="Enter your name">' +
							'<input id="swal-input2" class="swal2-input" placeholder="Enter your phone">' +
							'<input id="swal-input3" class="swal2-input" placeholder="Enter your address">',
						focusConfirm: false,
						showCancelButton: true,
						confirmButtonText: 'Confirm',
						cancelButtonColor: '#d33',
						preConfirm: () => {
							return [
								document.getElementById('swal-input1').value,
								document.getElementById('swal-input2').value,
								document.getElementById('swal-input3').value
							]
						},
						inputValidator: () => {
							var value = false;
							if (document.getElementById('swal-input1').value == '') {
								return !value && 'You need to enter your name!';
							} else if (document.getElementById('swal-input2').value == '' || isNaN(
									document.getElementById('swal-input2').value)) {
								return !value && 'You need to enter your phone!';
							} else if (document.getElementById('swal-input3').value == '') {
								return !value && 'You need to enter your address!';
							}

							if (document.getElementById('swal-input1').value.length < 2) {
								return !value && 'The name must be 2 or more characters!';
							} else if (document.getElementById('swal-input2').value.length < 10) {
								return !value && 'Phone number must be 10 digits!';
							} else if (document.getElementById('swal-input3').value.length < 20) {
								return !value && 'The address you entered is incorrect!';
							}

						}
					}).then((result) => {
						if (result) {
							swal({
								type: 'success',
								title: 'Successful',
								html: `
						<h4>Hi ` + result.value[0] + `</h4>
						<h4>Your phone is: ` + result.value[1] + `</h4>
						<h6>Your address is: ` + result.value[2] + `</h6>
						<h4 class="text-success">We will transfer the tickets as soon as possible</h4>`,
								confirmButtonText: 'Done!'
							})
						}
						this.arrTickets = [];
						this.total = 0;
					})
				}
			}
		});
	</script>
</body>

</html>